#titleimg{
	display: table;
	margin: 20px auto;
}

.buttonContainer{
	display: table;
	margin: 10px auto;
}


body {
	background-image: url('LandingImages/main.png');
    background-size: auto auto;

	background-position: auto;
}
